.but{
	margin-left: 300px;
	 padding-top : 70px;
	 padding-bottom : 70px;
	 background-color: red;
}

.table  .cell {
	border-collapse : collapse;
}

.labelstyle {
	border: 1px solid black;
	padding-bottom : 20px;
	max-width : 88mm;
}

@media print
{
	table {
		border-color: black;
		border : 1px solid black;
		background-color: black;
	}

	

}

