.wordWRAP
{
	max-width: 20px;
	word-wrap: break-word;
}

.button-padding
{
	padding-left: 0px;
	padding-right: 0px;
}

.formMarginNull
{
	margin : 0px;
	padding: 0px;
}

.scroll
{	
    max-height: 70vh;
    overflow-y: scroll;
    border: 1px solid #C1C1C1;
}